<?php

$GLOBALS['settings'] = array();

$GLOBALS['settings']['url'] = '...';

$GLOBALS['settings']['api'] = array();
$GLOBALS['settings']['api']['username'] = '...';
$GLOBALS['settings']['api']['password'] = '...';

$GLOBALS['settings']['non-api'] = array();
$GLOBALS['settings']['non-api']['username'] = '...';
$GLOBALS['settings']['non-api']['password'] = '...';
